.app {
  margin: 0;
  background-color: #4682b4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__container {
  height: 80vh;
  width: 60vw;
  background-color: white;
  border-radius: 15px;
}

form {
  margin: 40px auto;
  width: 600px;
  height: 30px;
  display: flex;
  border: none;
}

form > input {
  border: none;
  flex: 1;
  outline: none;
  background-color: #f0fff0;
  padding: 5px;
  font-size: 17px;
  font-weight: 400;
}
form > button {
  background-color: #4682b4;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
